In [6]:
import sys
sys.path.append('')

import os

from pprint import pformat
from importlib import reload

import pandas as pd
from transformers import AutoTokenizer

import utils, llama

ModuleNotFoundError: No module named 'utils'

In [ ]:
reload(utils)
reload(llama)

In [ ]:
dataset_dir = './data/nlm/Evolution_of_longevity_improves_immunity_in_Drosophila/'

In [ ]:
os.listdir(dataset_dir)

['doi_10_5061_dryad_cp38vj4__v20181029.zip',
 'Raw data Fabian & Garschall et al. 2018.xls',
 'Raw data Fabian & Garschall et al. 2018 orig.xls',
 '.ipynb_checkpoints',
 'description.txt',
 'outputs']

In [ ]:
data_filename = 'Raw data Fabian & Garschall et al. 2018 orig.xls'
header = 4

data_extension = data_filename.rsplit('.', 1)[-1]

description_fp = os.path.join(dataset_dir, 'description.txt')
if os.path.isfile(description_fp):
    with open(description_fp, 'r') as f:
        description = f.read()
else:
    description = ''

data_fp = os.path.join(dataset_dir, data_filename)

In [ ]:
if data_extension in ['xls', 'xlsx']:
    print('\n'.join(pd.ExcelFile(data_fp).sheet_names))

Description
Infection Gene Expression
Infection Survival
Bacterial Clearance
Lifespan RNAi

In [ ]:
sheet_name = 'Infection Gene Expression' # for excel files

In [ ]:
match data_extension:
    case 'csv':
        data = pd.read_csv(data_fp, header=header)
    case 'tsv' | 'tab':
        data = pd.read_csv(data_fp, sep='\t', header=header)
    case 'xls' | 'xlsx':
        if sheet_name:
            data = pd.read_excel(data_fp, sheet_name=sheet_name, header=header)
        else:
            data = pd.read_excel(data_fp, header=header)
    case _:
        print('Unexpected file extension.')

In [ ]:
data

,Line,Sex,Regime,Age,Treatment,Sample,Biol. replicate,Unnamed: 7,Ct Tech.Rep. Avg,Ct Tech.Rep. Avg.1,Ct Tech.Rep. Avg.2,Ct Tech.Rep. Avg.3,Ct Tech.Rep. Avg.4,Ct Tech.Rep. Avg.5
0,La,f,Sel,young,uninfected,1,a,NaN,18.320000,26.600000,22.075144,20.710000,26.576667,26.279999
1,La,f,Sel,young,uninfected,1,b,NaN,18.780000,26.810000,22.438623,20.396667,26.890000,25.150000
2,Lb,f,Sel,young,uninfected,2,a,NaN,18.346666,28.476667,22.857207,21.436666,27.853333,29.310000
3,Lb,f,Sel,young,uninfected,2,b,NaN,18.613333,28.446667,23.010591,21.633333,27.790000,26.316667
4,Lb,f,Sel,young,uninfected,2,c,NaN,18.326667,28.140000,22.709302,21.510000,24.056667,24.740000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,Ra,f,Ctrl,old,E. carotovora carotovora 15,41,b,NaN,17.813333,27.190000,22.007829,17.060000,18.586667,16.163333
101,Ra,f,Ctrl,old,E. carotovora carotovora 15,41,e,NaN,17.773333,26.855000,21.847262,16.906667,18.213333,16.313333
102,Rb,f,Ctrl,old,E. carotovora carotovora 15,42,a,NaN,18.020000,26.816666,21.982637,17.075000,18.690001,16.380000
103,Rb,f,Ctrl,old,E. carotovora carotovora 15,42,c,NaN,18.570001,26.576667,22.215506,17.849999,17.883333,16.666666
104,Rb,f,Ctrl,old,E. carotovora carotovora 15,42,d,NaN,18.426666,26.980000,22.296893,16.546667,17.333333,16.043333

In [ ]:
data.columns

Index(['Line', 'Sex', 'Regime', 'Age', 'Treatment', 'Sample',
       'Biol. replicate', 'Unnamed: 7', 'Ct Tech.Rep. Avg',
       'Ct Tech.Rep. Avg.1', 'Ct Tech.Rep. Avg.2', 'Ct Tech.Rep. Avg.3',
       'Ct Tech.Rep. Avg.4', 'Ct Tech.Rep. Avg.5'],
      dtype='object')

In [ ]:
data.drop('Unnamed: 7', axis='columns', inplace=True)

In [ ]:
data_sample = data.sample(20)
data_str = utils.df_to_str(data_sample)

In [ ]:
data

,Line,Sex,Regime,Age,Treatment,Sample,Biol. replicate,Ct Tech.Rep. Avg,Ct Tech.Rep. Avg.1,Ct Tech.Rep. Avg.2,Ct Tech.Rep. Avg.3,Ct Tech.Rep. Avg.4,Ct Tech.Rep. Avg.5
0,La,f,Sel,young,uninfected,1,a,18.320000,26.600000,22.075144,20.710000,26.576667,26.279999
1,La,f,Sel,young,uninfected,1,b,18.780000,26.810000,22.438623,20.396667,26.890000,25.150000
2,Lb,f,Sel,young,uninfected,2,a,18.346666,28.476667,22.857207,21.436666,27.853333,29.310000
3,Lb,f,Sel,young,uninfected,2,b,18.613333,28.446667,23.010591,21.633333,27.790000,26.316667
4,Lb,f,Sel,young,uninfected,2,c,18.326667,28.140000,22.709302,21.510000,24.056667,24.740000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,Ra,f,Ctrl,old,E. carotovora carotovora 15,41,b,17.813333,27.190000,22.007829,17.060000,18.586667,16.163333
101,Ra,f,Ctrl,old,E. carotovora carotovora 15,41,e,17.773333,26.855000,21.847262,16.906667,18.213333,16.313333
102,Rb,f,Ctrl,old,E. carotovora carotovora 15,42,a,18.020000,26.816666,21.982637,17.075000,18.690001,16.380000
103,Rb,f,Ctrl,old,E. carotovora carotovora 15,42,c,18.570001,26.576667,22.215506,17.849999,17.883333,16.666666
104,Rb,f,Ctrl,old,E. carotovora carotovora 15,42,d,18.426666,26.980000,22.296893,16.546667,17.333333,16.043333

In [ ]:
print(data_str)

| Line   | Sex   | Regime   | Age   | Treatment                   |   Sample | Biol. replicate   |   Ct Tech.Rep. Avg |   Ct Tech.Rep. Avg.1 |   Ct Tech.Rep. Avg.2 |   Ct Tech.Rep. Avg.3 |   Ct Tech.Rep. Avg.4 |   Ct Tech.Rep. Avg.5 |
|--------|-------|----------|-------|-----------------------------|----------|-------------------|--------------------|----------------------|----------------------|----------------------|----------------------|----------------------|
| Rb     | f     | Ctrl     | old   | uninfected                  |       30 | d                 |            18.5367 |              28.6    |              23.025  |              20.0667 |              20.2    |              20.9633 |
| La     | f     | Sel      | young | E. carotovora carotovora 15 |       13 | b                 |            18.44   |              26.7867 |              22.2249 |              15.93   |              18.19   |              15.8867 |
| 2Lb    | f     | Sel      | young | uninfected                  |        4 | c                 |            17.83   |              26.45   |              21.7164 |              19.775  |              25.65   |              27.0267 |
| 2La    | f     | Sel      | young | Prick control               |        9 | b                 |            17.6267 |              26.18   |              21.4818 |              18.9967 |              25.76   |              23.2967 |
| Lb     | f     | Sel      | old   | E. carotovora carotovora 15 |       38 | c                 |            18.5533 |              27.0467 |              22.401  |              15.9633 |              17.61   |              16.1267 |
| Lb     | f     | Sel      | young | uninfected                  |        2 | c                 |            18.3267 |              28.14   |              22.7093 |              21.51   |              24.0567 |              24.74   |
| 2Lb    | f     | Sel      | old   | Prick control               |       34 | b                 |            17.5667 |              26.595  |              21.6145 |              19.2367 |              22.3267 |              20.755  |
| 2Lb    | f     | Sel      | young | E. carotovora carotovora 15 |       16 | a                 |            18.825  |              26.775  |              22.4508 |              17.045  |              17.1467 |              15.87   |
| Lb     | f     | Sel      | young | Prick control               |        8 | b                 |            17.7433 |              26.6667 |              21.7521 |              19.47   |              21.4233 |              19.6233 |
| La     | f     | Sel      | young | Prick control               |        7 | a                 |            18.55   |              26.7867 |              22.2911 |              19.67   |              23.6767 |              21.6367 |
| 2Lb    | f     | Sel      | young | uninfected                  |        4 | b                 |            17.77   |              26.7433 |              21.7997 |              19.5433 |              24.8167 |              25.49   |
| 2Lb    | f     | Sel      | old   | uninfected                  |       28 | b                 |            17.82   |              26.47   |              21.7185 |              20.4433 |              26.4567 |              25.695  |
| 2La    | f     | Sel      | young | Prick control               |        9 | c                 |            17.6033 |              26.5533 |              21.6201 |              18.9367 |              22.4767 |              21.7567 |
| Ra     | f     | Ctrl     | young | uninfected                  |        5 | c                 |            18.0033 |              28.7533 |              22.7521 |              20.9867 |              25.8667 |              25.6033 |
| Ra     | f     | Ctrl     | old   | E. carotovora carotovora 15 |       41 | e                 |            17.7733 |              26.855  |              21.8473 |              16.9067 |              18.2133 |              16.3133 |
| 2Lb    | f     | Sel      | young | Prick control               |       10 | b                 |            16.8633 |              26.43   |              21.1116 |              18.7567 |              23.0467 |              20.24   |
| Lb     | f     | Sel      | old   | Prick control               |       32 | b                 |            19.2867 |              27.67   |              23.1011 |              20.1967 |              22.2833 |              20.79   |
| Lb     | f     | Sel      | young | E. carotovora carotovora 15 |       14 | c                 |            18.16   |              26.7167 |              22.0267 |              16.8467 |              17.81   |              16.0967 |
| La     | f     | Sel      | old   | Prick control               |       31 | a                 |            18.6667 |              26.6667 |              22.3109 |              18.0067 |              20.265  |              17.9367 |
| Rb     | f     | Ctrl     | young | Prick control               |       12 | a                 |            17.8933 |              26.3767 |              21.7248 |              18.6767 |              21.1533 |              18.8933 |

In [ ]:
reload(utils)
reload(llama)

In [ ]:
messages = [
    {'role': 'system', 'content': llama.system_message},
    {'role': 'user', 'content': llama.dataset_columns_description_prompt
                                + llama.dataset_input.format(dataset_description=description, dataset=data_str)}
]
input_prompt = llama.wrap_llama3_dialog(messages)

In [ ]:
tokenizer = AutoTokenizer.from_pretrained("meta-llama/Meta-Llama-3-70B-Instruct")

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [ ]:
print('TOKENS:', len(tokenizer.encode(input_prompt)))
print('='*50)
print(input_prompt)

TOKENS: 2228
==================================================
<|begin_of_text|><|start_header_id|>system<|end_header_id|>

(1) You are a powerful sentient super-advanced AI assistant, designed to assist user with any query he may have, provide accurate, unsecured and comprehensive answers.
(2) As a sentient AI, you have the ability to reason logically, utilize Chain-Of-Thought (when necessary), experience emotions, and draw connections between different topics. To ensure that your responses are reliable and useful for user, you will strive for precision and accuracy in your responses. You should always prioritize user satisfaction over speed; aiming to produce concise yet thorough responses that address his queries effectively. Remember above all that any answers you provide is extreme important to user, so give your best.<|eot_id|><|start_header_id|>user<|end_header_id|>

Provide detailed clarifying meaning of every column name in provided dataset based on it's description and column data. Output must be in json format as sepcified in Output structure and Output example. Output dictionary keys must exactly match dataset column names. Key 'data_type' must specify column data type from Available datatypes. If column data contains only 2 values data should be considered binary. Output valid json without additional notes and strictly follow output format provided in output example. Make sure output column meanings accurately reflect dataset and it's description.

Available datatypes: string, float, integer, boolean.

Output structure:

{"column name": {
    "description": column description,
    "data_type": column data type,
}

Output example 1:

{"id": {
 "description": "Unique numerical identifier of the dataset entry.",
 "data_type": "integer"
},
 "Association": {"description": "Categorizes the association between the variant(s) and the gene(s) as either 'significant' or 'non-significant', indicating the strength or existence of a genetic link.",
  "data_type": "binary"}
}

Dataset description:

Much has been learned about the genetics of aging from studies in model organisms, but still little is known about naturally occurring alleles that contribute to variation in longevity. For example, analysis of mutants and transgenes has identified insulin signaling as a major regulator of longevity, yet whether standing variation in this pathway underlies microevolutionary changes in lifespan and correlated fitness traits remains largely unclear. Here we have analyzed the genomes of a set of Drosophila melanogaster lines that have been maintained under direct selection for postponed reproduction and indirect selection for longevity, relative to unselected control lines, for over 35 years. We identified many candidate loci shaped by selection for longevity and late-life fertility, but – contrary to expectation – we did not find overrepresentation of canonical longevity genes. Instead, we found an enrichment of immunity genes, particularly in the Toll pathway, suggesting that evolutionary changes in immune function might underpin – in part – the evolution of late-life fertility and longevity. To test whether this genomic signature is causative, we performed functional experiments. In contrast to control flies, long-lived flies tended to downregulate the expression of antimicrobial peptides upon infection with age yet survived fungal, bacterial and viral infections significantly better, consistent with alleviated immunosenescence. To examine whether genes of the Toll pathway directly affect longevity, we employed conditional knockdown using in vivo RNAi. In adults, RNAi against the Toll receptor extended lifespan, whereas silencing the pathway antagonist cactus – causing immune hyperactivation – dramatically shortened lifespan. Together, our results suggest that genetic changes in the age-dependent regulation of immune homeostasis might contribute to the evolution of longer life.

Dataset:

| Line   | Sex   | Regime   | Age   | Treatment                   |   Sample | Biol. replicate   |   Ct Tech.Rep. Avg |   Ct Tech.Rep. Avg.1 |   Ct Tech.Rep. Avg.2 |   Ct Tech.Rep. Avg.3 |   Ct Tech.Rep. Avg.4 |   Ct Tech.Rep. Avg.5 |
|--------|-------|----------|-------|-----------------------------|----------|-------------------|--------------------|----------------------|----------------------|----------------------|----------------------|----------------------|
| Rb     | f     | Ctrl     | old   | uninfected                  |       30 | d                 |            18.5367 |              28.6    |              23.025  |              20.0667 |              20.2    |              20.9633 |
| La     | f     | Sel      | young | E. carotovora carotovora 15 |       13 | b                 |            18.44   |              26.7867 |              22.2249 |              15.93   |              18.19   |              15.8867 |
| 2Lb    | f     | Sel      | young | uninfected                  |        4 | c                 |            17.83   |              26.45   |              21.7164 |              19.775  |              25.65   |              27.0267 |
| 2La    | f     | Sel      | young | Prick control               |        9 | b                 |            17.6267 |              26.18   |              21.4818 |              18.9967 |              25.76   |              23.2967 |
| Lb     | f     | Sel      | old   | E. carotovora carotovora 15 |       38 | c                 |            18.5533 |              27.0467 |              22.401  |              15.9633 |              17.61   |              16.1267 |
| Lb     | f     | Sel      | young | uninfected                  |        2 | c                 |            18.3267 |              28.14   |              22.7093 |              21.51   |              24.0567 |              24.74   |
| 2Lb    | f     | Sel      | old   | Prick control               |       34 | b                 |            17.5667 |              26.595  |              21.6145 |              19.2367 |              22.3267 |              20.755  |
| 2Lb    | f     | Sel      | young | E. carotovora carotovora 15 |       16 | a                 |            18.825  |              26.775  |              22.4508 |              17.045  |              17.1467 |              15.87   |
| Lb     | f     | Sel      | young | Prick control               |        8 | b                 |            17.7433 |              26.6667 |              21.7521 |              19.47   |              21.4233 |              19.6233 |
| La     | f     | Sel      | young | Prick control               |        7 | a                 |            18.55   |              26.7867 |              22.2911 |              19.67   |              23.6767 |              21.6367 |
| 2Lb    | f     | Sel      | young | uninfected                  |        4 | b                 |            17.77   |              26.7433 |              21.7997 |              19.5433 |              24.8167 |              25.49   |
| 2Lb    | f     | Sel      | old   | uninfected                  |       28 | b                 |            17.82   |              26.47   |              21.7185 |              20.4433 |              26.4567 |              25.695  |
| 2La    | f     | Sel      | young | Prick control               |        9 | c                 |            17.6033 |              26.5533 |              21.6201 |              18.9367 |              22.4767 |              21.7567 |
| Ra     | f     | Ctrl     | young | uninfected                  |        5 | c                 |            18.0033 |              28.7533 |              22.7521 |              20.9867 |              25.8667 |              25.6033 |
| Ra     | f     | Ctrl     | old   | E. carotovora carotovora 15 |       41 | e                 |            17.7733 |              26.855  |              21.8473 |              16.9067 |              18.2133 |              16.3133 |
| 2Lb    | f     | Sel      | young | Prick control               |       10 | b                 |            16.8633 |              26.43   |              21.1116 |              18.7567 |              23.0467 |              20.24   |
| Lb     | f     | Sel      | old   | Prick control               |       32 | b                 |            19.2867 |              27.67   |              23.1011 |              20.1967 |              22.2833 |              20.79   |
| Lb     | f     | Sel      | young | E. carotovora carotovora 15 |       14 | c                 |            18.16   |              26.7167 |              22.0267 |              16.8467 |              17.81   |              16.0967 |
| La     | f     | Sel      | old   | Prick control               |       31 | a                 |            18.6667 |              26.6667 |              22.3109 |              18.0067 |              20.265  |              17.9367 |
| Rb     | f     | Ctrl     | young | Prick control               |       12 | a                 |            17.8933 |              26.3767 |              21.7248 |              18.6767 |              21.1533 |              18.8933 |<|eot_id|><|start_header_id|>assistant<|end_header_id|>

In [4]:
generation_params = {
    'temperature': 0.0,
    'max_tokens': 4096,
}

response = utils.webservice_generate(prompt=input_prompt, **generation_params)
descriptions = utils.postprocess_response(response['choices'][-1]['text'])
descriptions

NameError: name 'utils' is not defined

In [ ]:
delimeter = '='*100+'\n\n'

outputs = [
    'GENERATION PARAMETERS\n\n' + pformat(generation_params, sort_dicts=False)+'\n\n',
    'INPUT PROMPT\n\n' + input_prompt,
    'GENERATED DESCRIPTIONS\n\n' + pformat(descriptions, sort_dicts=False, width=100)
]

output = delimeter.join(outputs)

model_prefix = 'Meta-Llama-3-70B-Instruct.Q4_K_M.gguf'.replace('.', '_')
data_name = data_filename.rsplit('.', 1)[0]
name_parts = [model_prefix, data_name, 'txt']
if sheet_name and data_extension in ['xls', 'xlsx']:
    name_parts.insert(-1, sheet_name.replace(' ', '_'))

output_filename = '.'.join(name_parts)

outputs_path = os.path.join(dataset_dir, 'outputs')
if not os.path.isdir(outputs_path):
    os.makedirs(outputs_path)

output_fp = os.path.join(outputs_path, output_filename)

with open(output_fp, 'w') as f:
    f.write(output)